@import './variables.scss';

/* START Save Button */
.show-save-fab {
  @include mdc-fab-container-color($phoenix-velocity-primary);
  transition: all .4s cubic-bezier(.17,.67,.83,.67);
  bottom: 3% !important;
}

.hide-save-fab {
  bottom: -25% !important;
  transition: all .4s cubic-bezier(.17,.67,.83,.67);
}
/* END Save Button */