@import "variables.scss";

.linear-progress-container {
  width: 20%;
  height: auto;
  background: $regular-old-white;
  z-index: 999;
  position: relative;
  top: 40%;
  left: 40%;
  padding: 25px;
}

.linear-progress-message {
  width: 100%;
  text-align: center;
  height: 45px;
}

.linear-progress-block-page {
  width: 100vw;
  height: 100vh;
  background: $blocking-alpha;
  z-index: 998;
  position: fixed;
  text-align: center;
  top: 0;
}