@import "@material/animation/functions";
@import "./variables.scss";

$blue-box-shadow-color: #91ebff;

.simple-collapse-panel-content-paper {
  background-color: $regular-old-white;
  margin: 25px 0;
  border-radius: 3px;
}

.simple-collapse-panel {
}

.simple-collapse-panel-title-paper {
  width: 98%;
  margin: 0 1%;
  border-radius: 3px;
}

.simple-collapse-panel-title-container {
  width: 100%;
  padding: 5px;
  display: inline-flex;
}

.simple-collapse-panel-title {
  color: var(--mdc-theme-on-surface);
}

.simple-collapse-panel-subtitle {
  color: var(--mdc-theme-on-surface);
}

.simple-collapse-panel-identity-container {
  width: calc(100% - 48px);
  padding: 8px 24px;
}

.collapse-button-container {
  width: 3%;
}

.simple-collapse-panel-child-container {
  height: 0;
  overflow: hidden;
  transition: height 500ms ease-in-out; // "Well we tried..."
}

.simple-collapse-panel-child-container[aria-expanded="true"] {
  height: auto;
}

.left-header-buttons {
  display: flex
}
.right-header-buttons {
  display: flex
}