.icon {
  font-size: 50px;
  fill-opacity: 1;
  display: inline-block
}




// /* TODO: Move these into their specific partials */
// @import "@material/button/mdc-button";
// @import "@material/card/mdc-card";
// @import "@material/chips/mdc-chips";
// @import "@material/dialog/mdc-dialog";
// @import "@material/fab/mdc-fab";
// @import "@material/form-field/mdc-form-field";
// @import "@material/icon-button/mdc-icon-button";
// @import "@material/layout-grid/mdc-layout-grid";
// @import "@material/linear-progress/mdc-linear-progress";
// @import "@material/list/mdc-list";
// @import "@material/menu-surface/mdc-menu-surface";
// @import "@material/menu/mdc-menu";
// @import "@material/notched-outline/mdc-notched-outline";
// @import "@material/select/mdc-select";
// @import "@material/select/icon/mdc-select-icon";
// @import "@material/textfield/mdc-text-field";
// @import "@material/typography/mdc-typography";
// @import "@material/radio/mdc-radio";
// @import "@material/snackbar/mdc-snackbar";

// @import "./variables.scss";
// @import "./_overrides.scss";
// @import "./spinner.scss";
// @import "./collapse-panel.scss";
// @import "./linear-progress.scss";
// @import "./react-select-overrides.scss";
// @import "./paper.scss";
// @import "./simple-card.scss";
// @import "./simple-collapse-panel.scss";
// @import "./divider.scss";
// @import "./floating-save-button.scss";
// @import "./snackbar.scss";

// body {
//   background-color: $background-color !important;
// }

// .home {
//   padding: 20px;
// }

// .full-page-paper {
//   padding: 12px 24px;
//   background-color: $regular-old-white;
//   height: 100%;
//   min-height: 750px;
// }

// .container {
//   padding: 24px;
// }

// .link {
//   color: var(--mdc-theme-primary);
//   cursor: pointer;
// }

// .page-header {
//   color: var(--mdc-theme-primary);
//   margin: 14px 0;
// }

// .l-r-5 {
//   margin: 0 5%;
// }

// .side-by-side {
//   display: inline-flex;
// }

// .back-button {
//   margin-top: 0.5rem;
//   color: var(--mdc-theme-text-secondary-on-light);
// }

// .view-rule-set {
//   padding-left: 8px;
//   font-size: .85rem !important;
//   font-weight: bold !important;
// }

// .grey-button {
//   color: var(--mdc-theme-text-secondary-on-light);
// }

// .white-button {
//   color: $regular-old-white !important;
// }

// .full-width {
//   width: 100%;
// }

// .disabled {
//   cursor: not-allowed !important;
// }

// /* Start Create Container Classes */
// .create-container {
//   // margin: 0 15%;
// }

// .create-page-header {
//   color: var(--mdc-theme-primary);
//   font-size: 1.5rem !important;
//   font-weight: 400 !important;
// }

// .create-page-paper {
//   padding: 48px;
//   width: 75%;
//   margin: auto;
//   min-height: 500px;
//   height: 100%;
//   background-color: $regular-old-white;
// }

// .create-page-action-buttons {
//   margin: 0 5%;
//   padding-top: 60px;
// }

// /* End Create Container Classes */

// /* Start Edit Result Model Classes */
// .result-model-schema-container {
//   padding: 12px;
// }

// .result-model-property {
  
// }

// .dark-divider {
//   border-color: $blocking-alpha;
// }
// /* End Edit Result Model Classes */

// /* Start Edit Rule Book Classes */
// .collection-name {
//   padding-top: 15px;
// }

// .collection-grid {
//   width: 100%;
//   padding-left: 0;
//   padding-right: 0;
// }

// .collection-buttons {
//   float: right
// }

// .light-grey-button {
//   color: var(--mdc-theme-text-secondary-on-background);
// }

// .add-collection-dialog {
//   width: auto;
//   min-width: 80vw !important;
//   height: 80vh;
//   padding: 12px;
// }

// .result-preview {
//   border: 1px solid $light-grey-background;
//   border-radius: 6px;
//   padding: 0 24px;
//   .result-row {
//     padding: 6px;
//     vertical-align: top;
//     .result-name {
//       vertical-align: inherit;
//       .name {
//         margin-right: 24px;
//       }
//     }
//     .result-values {
//       vertical-align: inherit;
//     }
//   }
// }
// /* End Edit Rule Book Classes */

// /* Start Card Overrides */
// .card-control {
//   background-color: $regular-old-white;
// }
// /* End Card Overrides */

// /* Start Button Overrides */
// .mdc-button-secondary {
//   color: $phoenix-velocity-secondary !important;
// }

// .mdc-button-default {
//   color: $phoenix-velocity-default !important;
// }

// .mdc-button-danger {
//   color: $phoenix-velocity-danger !important;
// }

// .mdc-button-raised-danger {
//   color: $regular-old-white !important;
//   background-color: $phoenix-velocity-danger !important;
// }
// /* End Button Overrides */

// /* Start FAB Classes */
// .app-fab--absolute {
//   position: fixed;
//   bottom: 3%;
//   right: 4%;
//   z-index: 1000
// }

// .mdc-fab {
//   background-color: #1283ce;
// }
// /* End FAB Classes */

// /* Start Toolbar Classes */
// .search-label {
//   width: 100%
// }

// .search-label.mdc-text-field--focused {
//   color: var(--mdc-theme-primary) !important;
// }

// .toolbar {
//   @media screen and (max-width: 839px) {
//     width: 100%
//   }

//   @media screen and (min-width: 840px) {
//     width: 50%
//   }
// }
// /* End Toolbar Classes */

// /* Start Data Model Explorer Classes */
// @mixin breakpoint($class) {
//   @if $class==xs {
//     @media only screen and (max-width: 467px) {
//       @content;
//     }
//   }

//   @else if $class==sm {
//     @media only screen and (min-width: 468px) and (max-width: 494px) {
//       @content;
//     }
//   }

//   @else if $class==med {
//     @media only screen and (min-width: 495px) and (max-width: 829px) {
//       @content;
//     }
//   }

//   @else if $class==lrg {
//     @media only screen and (min-width: 830px) {
//       @content;
//     }
//   }

//   @else {
//     @warn "Breakpoint mixin supports: xs, sm, md, lg";
//   }
// }

// .data-model-explorer-dialog {
//   width: auto;
//   min-width: 80vw !important;
//   height: 80vh;
// }

// #data-model-explorer-description {
//   height: 100%;
//   overflow: hidden;
// }

// .data-model-explorer-list-title-container {
//   background-color: $light-grey-background;
//   padding: 1.25rem 1.25rem;
// }

// .data-model-explorer-list-title {
//   margin: 0;
//   color: black;
//   font-weight: 500;
//   font-size: 1.5rem;
//   line-height: 1.16667em;
// }

// .data-model-explorer-content {
//   width: 100%;
//   padding: 15px;
//   height: 80%;
//   overflow-y: hidden;
// }

// .data-model-explorer-list-paper {
//   width: 40%;
//   float: left;
//   height: 100%;
//   padding: 0;
//   overflow-y: hidden;
// }

// .data-model-explorer-list {
//   height: calc(100% - 66px);
//   overflow-y: auto;
//   background-color: $regular-old-white;
//   border-radius: 3px;
//   width: 100%;
//   padding: 0;

//   @include breakpoint(xs) {
//     height: calc(100% - 152px);
//   }

//   @include breakpoint(sm) {
//     height: calc(100% - 124px);
//   }

//   @include breakpoint(med) {
//     height: calc(100% - 96px);
//   }
// }

// .data-model-list-item-name {
//   margin: 0;
// }

// .data-model-list-item-description {
//   margin: 0;
// }

// .data-model-list-item {
//   display: block;
//   border-bottom: 1px solid $light-grey-background;
//   cursor: pointer;
//   height: auto;
// }

// .selected-list-item {
//   @extend .data-model-list-item;
//   background-color: $phoenix-velocity-primary-dark;

//   &:hover {
//     background-color: var(--mdc-theme-primary)
//   }
// }

// .preselected-list-item {
//   @extend .data-model-list-item;
//   background-color: $phoenix-velocity-default-border
// }

// .regular-list-item {
//   @extend .data-model-list-item;
// }

// .data-model-explorer-info-paper {
//   width: 55%;
//   float: right;
//   padding: 0;
//   height: 100%;
//   overflow-y: hidden;
//   background-color: $light-grey-background;
// }

// .data-model-explorer-info-toolbar {
//   width: 100%;
//   height: 64px;
//   background-color: var(--mdc-theme-primary);
// }

// .data-model-explorer-info-title {
//   @extend .data-model-explorer-list-title;
//   color: $regular-old-white;
// }

// .data-model-explorer-info-icon {
//   position: relative;
//   top: .125em;
// }

// .data-model-explorer-tab-button {
//   color: white !important;
//   height: auto;
// }

// .data-model-explorer-tab-button-selected {
//   border-bottom: solid 2px $phoenix-velocity-danger;
// }

// .choose-data-model-banner {
//   color: $phoenix-velocity-info;
//   background-color: $regular-old-white;
//   width: 80%;
//   margin: 2% 7%;
//   padding: 1.25rem 1.25rem;
// }

// .arrow-left {
//   position: relative;
//   top: 0.2em;
//   margin-right: 5px;
//   transform: rotate(180deg);
// }

// .data-model-property-list-container {
//   margin: 0.5em;
//   overflow-y: auto;
//   overflow-x: hidden;
//   left: 0;
//   height: calc(100% - 80px);
// }

// .data-model-property-list-container::-webkit-scrollbar {
//   background-color: inherit;
//   width: 7px;
//   margin-left: 5px;
// }

// .data-model-property-list-container::-webkit-scrollbar-thumb {
//   background-color: $bb8-grey;
//   border-radius: 20px;
// }

// .data-model-property-list-container::-webkit-scrollbar-track {
//   background-color: $light-grey-background;
// }

// .data-model-property-list-container::-webkit-scrollbar-track-piece {
//   background-color: $light-grey-background;
// }

// .data-model-property-list {
//   height: auto;
//   border-radius: 3px;
//   width: 100%;
//   margin-bottom: 0.5rem;
//   padding: 0
// }

// .data-model-property-list-item {
//   display: block;
//   border-bottom: 1px solid $light-grey-background;
//   padding: 12px 24px;
//   background-color: $regular-old-white;
// }

// .data-model-property-json-list-item {
//   @extend .data-model-property-list-item;
//   margin-bottom: 0.5rem;
//   margin-top: 1rem;
//   padding: 0;
//   background-color: $regular-old-white;
// }

// .data-model-property-json-list-item pre {
//   padding: 12px 24px;
//   background-color: $regular-old-white;
//   color: $phoenix-velocity-text-primary;
// }

// .json-display {
//   white-space: pre-wrap;
//   /* css-3 */
//   white-space: -moz-pre-wrap;
//   /* Mozilla, since 1999 */
//   white-space: -pre-wrap;
//   /* Opera 4-6 */
//   white-space: -o-pre-wrap;
//   /* Opera 7 */
//   word-wrap: break-word;
//   /* Internet Explorer 5.5+ */
// }

// .data-model-property-value {
//   color: $phoenix-velocity-text-primary;
// }

// .data-model-json-view-title {
//   color: $phoenix-velocity-primary-dark;
//   padding-left: 1.25rem;
// }
// /* End Data Model Explorer Classes */

// /* Start View Sets Page Classes */
// .rule-set-empty-container {
//   padding: 0 15%;
//   text-align: center;
// }

// .rule-set-container {
//   padding: 0 5%;
// }

// .rule-book-container {
//   padding: 0 5%;
// }

// .full-page-paper {
//   padding: 12px 24px;
//   background-color: $regular-old-white;
//   height: 100%;
//   min-height: 750px;
// }
// /* End View Sets Page Classes */

// /* Start Rule Explorer Classes */
// .rule-explorer-list-title-container {
//   background-color: $light-grey-background;
//   padding: 1.25rem 1.25rem;
// }

// .rule-explorer-list-title {
//   margin: 0;
//   color: black;
//   font-weight: 500;
//   font-size: 1.5rem;
//   line-height: 1.16667em;
// }

// .rule-explorer-dialog {
//   width: auto;
//   min-width: 80vw !important;
//   height: 80vh;
// }

// .rule-explorer-list-paper {
//   width: 40%;
//   float: left;
//   height: 600px;
//   max-height: 100%;
//   padding: 0;
//   overflow-y: hidden;
// }

// .rule-explorer-list {
//   height: calc(100% - 66px);
//   overflow-y: auto;
//   background-color: $regular-old-white;
//   border-radius: 3px;
//   width: 100%;
//   padding: 0;

//   @include breakpoint(xs) {
//     height: calc(100% - 152px);
//   }

//   @include breakpoint(sm) {
//     height: calc(100% - 124px);
//   }

//   @include breakpoint(med) {
//     height: calc(100% - 96px);
//   }
// }

// .rule-list-item-name {
//   margin: 0;
// }

// .rule-list-item-description {
//   margin: 0;
// }

// .rule-explorer-info-paper {
//   width: 55%;
//   float: right;
//   padding: 0;
//   height: 600px;
//   max-height: 100%;
//   overflow-y: hidden;
//   background-color: $light-grey-background;
// }

// .rule-explorer-info-toolbar {
//   width: 100%;
//   height: 64px;
//   background-color: var(--mdc-theme-primary);
// }

// .rule-explorer-info-title {
//   @extend .data-model-explorer-list-title;
//   color: $regular-old-white;
// }

// .rule-explorer-info-icon {
//   position: relative;
//   top: .125em;
// }

// .rule-explorer-tab-button {
//   color: white !important;
//   height: auto;
// }

// .rule-explorer-tab-button-selected {
//   border-bottom: solid 2px $phoenix-velocity-danger;
// }

// .choose-rule-banner {
//   color: $phoenix-velocity-info;
//   background-color: $regular-old-white;
//   width: 80%;
//   margin: 2% 7%;
//   padding: 1.25rem 1.25rem;
// }

// .item-row {
//   margin-left: 2%;
// }

// .ag-item {
//   margin-left: 2%;
//   width: 50%;
// }

// .ag-group {
//   display: flex;
//   margin-bottom: 3%;
// }

// .value-text {
//   color: black;
//   font-size: 14px;
//   margin-right: 5px;
//   word-wrap: break-word;
// }

// .label-text {
//   color: black;
//   font-weight: bold;
//   font-size: 15px;
//   margin-right: 5px;
// }

// .rule-property-list-container {
//   margin: 0.5em;
//   overflow-y: auto;
//   overflow-x: hidden;
//   left: 0;
//   height: 600px;
//   max-height: 500px;
//   background-color: $regular-old-white;
//   padding: 8px 15px;
// }

// .rule-property-list-container::-webkit-scrollbar {
//   background-color: inherit;
//   width: 7px;
//   margin-left: 5px;
// }

// .header-color {
//   color: $phoenix-velocity-primary-dark;
// }

// .indent {
//   padding-left: 10px;
// }

// .mimic-list-item-text {
//   display: block;
//   font-family: Roboto, sans-serif;
//   -webkit-tap-highlight-color: inherit;
//   margin: 0px;
//   outline: none;
//   font-size: 16px;
//   font-weight: inherit;
//   position: relative;
//   color: black;
//   line-height: 16px;
//   padding: 6px;
// }

// .hr-text {
//   margin: 10px 0;
//   line-height: 1em;
//   position: relative;
//   outline: 0;
//   border: 0;
//   color: black;
//   text-align: center;
//   height: 1.5em;
//   opacity: .5;
//   &:before {
//     content: '';
//     // use the linear-gradient for the fading effect
//     // use a solid background color for a solid bar
//     background: linear-gradient(to right, transparent, #818078, transparent);
//     position: absolute;
//     left: 0;
//     top: 50%;
//     width: 100%;
//     height: 1px;
//   }
//   &:after {
//     content: attr(data-content);
//     position: relative;
//     display: inline-block;
//     color: black;

//     padding: 0 .5em;
//     line-height: 1.5em;
//     // this is really the only tricky part, you need to specify the background color of the container element...
//     color: #818078;
//     background-color: #fcfcfa;
//   }
// }
// /* End Rule Explorer Classes */

// .fourty-px-icon {
//   height: 40px;
//   width: 40px;
//   padding: 0px;
//   float: right;
//   margin: 14px 0;
//   font-size: 40px;
// }

// /* START Save Data Model Classes */

// .save-later-paper {
//   width: 80%;
//   margin: auto;
//   max-height: 100%;
//   padding: 0;
//   overflow-y: hidden;
// }

// .save-later-header {
//   color: var(--mdc-theme-primary);
//   font-size: 1.5rem !important;
//   font-weight: 400 !important;
//   padding-left: 5%;
// }

// .save-later-text {
//   padding-left: 8%;
// }

// .save-later-content {
//   padding: 0 8%;
// }

// .save-later-button {
//   margin: 3%;
// }

// .save-data-model-error-text {
//   text-align: center;
//   color: var(--mdc-theme-error);
// }

// /* END Save Data Model Classes */