body {
  background: url('https://download.hipwallpaper.com/desktop/1600/900/4/39/FNEes5.jpg') no-repeat center center fixed;
}

.icon {
  font-size: 50px;
  fill-opacity: 1;
  display: inline-block;
}
